<div class="wrapmid">

  <div class="recenttrades">
     <div class="cardheader">Recent Trades <span class="track">live tracker</span></div>
     <% @user.trades.order("created_at").last(3).each do |t| %>
     <ul class="result">
       <li><span class="lss"><%= t.tradetype %></span><br><span class="title"><%= t.created_at%></span></li>
       <li>Stock <br><%= t.stock %></li>
       <li>Volume <br><%= t.volume %></li>
       <li>Price <br><%= t.stockprice %></li>
     </ul>
     <% end %>
 </div>







  <ul class="longsover">
     <li class="onee"><div class="longover">Longs</div><div class="longsval"># <%= @tradelongs.count %></div></li>
     <li><div class="rateover">Rating</div><div class="ratingval"># </div></li>
     <li><div class="profitover">Profit</div><div class="profitval"><%= @user.trades.where(tradetype: "Long").sum(:currentprice) - @user.trades.where(tradetype: "Long").sum(:stockprice)%></div></li>
     <li><div class="percentover">Percent Long</div><div class="percentval"> <% price = (@user.trades.where(tradetype: "Long").count.to_f / @user.trades.count.to_f) * 100  %><%= number_with_precision(price, :precision => 0) %>%</div></li>
     <li><div class="numover">Stocks Long</div><div class="numval"><%= @user.trades.where(tradetype: "Long").count %></div></li>
  </ul>
  <ul class="longsover">
      <li class="onee"><div class="longover">Short</div><div class="longsval"># <%= @tradeshorts.count %></div></li>
      <li><div class="rateover">Rating</div><div class="ratingval">#</div></li>
      <li><div class="profitover">Profit</div><div class="profitval"><%= @user.trades.where(tradetype: "Short").sum(:stockprice) - @user.trades.where(tradetype: "Short").sum(:currentprice) %></div></li>
      <li><div class="percentover">Percent Short</div><div class="percentval"><% shrtprice = (@user.trades.where(tradetype: "Short").count.to_f / @user.trades.count.to_f) * 100  %><%= number_with_precision(shrtprice, :precision => 0) %>%</div></li>
      <li><div class="numover">Stocks Short</div><div class="numval"><%= @user.trades.where(tradetype: "Short").count %></div></li>
  </ul>
  <ul class="longsover">
        <li class="onee"><div class="longover">Other Comm.</div><div class="longsval">#</div></li>
        <li><div class="rateover">Rating</div><div class="ratingval">#</div></li>
        <li><div class="profitover">Profit</div><div class="profitval"><%= @user.trades.where.not(commodity_id: nil).sum(:currentprice) - @user.trades.where.not(commodity_id: nil).sum(:stockprice)%></div></li>
        <li><div class="percentover">Percent in Commodities</div><div class="percentval"><% price = (@user.trades.where.not(commodity_id: nil).count.to_f / @user.trades.count.to_f) * 100  %><%= number_with_precision(price, :precision => 0)%>%</div></li>
        <li><div class="numover">Commodities</div><div class="numval"><%= @user.trades.where.not(commodity_id: nil).count%></div></li>

  </ul>





                  <div class="careerstats">Career Stats
                    <ul class="careertrades">
                      <li>Trades Made <br> <%= @user.trades.count('stock') %> </li>
                    <%  @something = [ ] %>
                     <% @user.trades.where.not(currentprice: nil).each do |f| %>
                      <%  if f.stockprice != nil && f.stockprice > f.currentprice %>
                    <%  @something << f %>
                    <%  end %>
                     <% end %>
                      <li>Currently Up <%= @something.count %></li>
                      <%  @somethingminus = [ ] %>
                       <% @user.trades.where.not(currentprice: nil).each do |f| %>
                        <%  if f.stockprice != nil && f.stockprice < f.currentprice %>
                      <%  @somethingminus << f %>
                      <%  end %>
                       <% end %>
                      <li>Currently Down <%= @somethingminus.count %></li>
                    </ul>
                    <ul class="careertrades">
                      <li>Companies Held <%= @user.trades.distinct.count('stock') %></li>

                      <li>Profit  <%= @user.trades.sum(:stockprice) - @user.trades.sum(:currentprice) %></li>
                    </ul>
                  </div>


                  <div class="orangetrending">
                 <%= @idcurr %> <br>
                 <%= @iscurrentuser %> <br>
                 <%= @par %>
                </div>







    </div>
