
<%= form_with(model: [ @user, Trade.new ]) do |form| %>


  <%= form.text_field :stock, collection: @comp %>
  <%= form.number_field :company_id %>
  <%= form.number_field :commodity_id, collection: @comm %>
  <%= form.number_field :region_id, collection: @reg %>
  <%= form.text_field :tradetype %>
  <%= form.number_field :stockprice %>
  <%= form.number_field :volume %>

    <%= form.submit %>
  </div>
<% end %>
<%# <%= link_to "create trade", new_user_trade_path%> %>

<%=  select("post", "person_id", Company.all.collect {|p| [ p.id, p.id ] }, { include_blank: true })%>
