  <div class="tradecomp">
  <div id="companies_searchw" action="http://localhost:3000/users/3" accept-charset="UTF-8" method="get">
  <div class="csearch">
     <%= text_field_tag :search,  placeholder: "Search Companies...", id: "isearch" %>
   </div>
   </div>
<div class="myTrade">
</div>
<br>

<%= select_tag(:type, options_for_select([ "Sell", "Buy" ], "Buy"), {class: 'buysl'}) %><br>
<br>
<div>Volume: <%= number_field_tag 'quantity', id: "ivolume" %>
<br>
<br>
<div>Share Price: <%= number_field_tag 'iprice', disabled: true %></div>
<br>
<br>
<div>Total $: <%= number_field_tag 'total', disabled: true %></div>
<br>
<br>
<div class="mTrade"></div>


  </div>
