<div class="contain">
  <div class="fade">
     <div class="userbox">
       <div class="userlast">
         <div class="ava"><%= image_tag @user.avatar.url(:thumb) %></div>
         <div class="usersname"> <%= @user.email %> </div>
         <div class="lastonline"><%= "Last Online: #{@user.last_seen}" %></div>
      </div>
      <ul class="usernavs">
              <li><%= link_to "Overview" %></li>
              <li><%= link_to "Longs" %> </li>
              <li><%= link_to "Shorts" %></li>
              <li><%= link_to "Friends" %></li>
      </ul>
      <div class="lowerbox">
        <ul class="lowerselect">
        <li><div class="region">Region</div><div class="regselect"><%= select_tag 'user_id', options_from_collection_for_select(@reg, 'id', 'name'), include_blank: "Choose Region",  :onchange => "window.location.replace('?region_id='+this.value);" %></div></li>

        <li><div class="region">Exchange</div><div class="regselect"><%= select_tag 'user_id', options_for_select(@exch.collect{ |u| [u.name] }) %></div></li>

        <li>



          <%= form_with url: user_trades_path(@user), method: :get, local: true do |form| %>

            <%= select_tag(:term, options_for_select([['2018', 1], ['2017', 2]])) %>

           <% form.submit %>
           <% end %>






          </li>
                  
       </ul>

      </div>

    <%= render "table" %>


<div class="lower">
  <p id="notice"><%= notice %></p>
<p><%= @user.email %></p>
<p><%= @user.last_seen %></p>

<% if @user == current_user %>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>

<% @trades.each do |t| %>
<%= t.stock %>
<% end %>

<%= render "thetrade" %>
<%= render "thestage" %>
<%= link_to 'Edit' %>



<div>
