
  <header>
    <!-- will put in navbar partial  for app/layout> -->
      <div class="container">
        <div class="main">
          <div class="logo">
          <%= link_to "SportFolio", root_path, id: "homelogo" %>
          </div>
            <div class="signup">
              <% if user_signed_in? %>
                Loggin in as
              <% else %>
                <%= link_to "Sign up", new_user_registration_path %>
                <%= link_to "Login", new_user_session_path %>
              <% end %>
            </div>
            <ul class="nav-items">
                    <li><%= link_to "COMPANIES" %></li>
                    <li><%= link_to "NEWS" %></li>
                    <li><%= link_to "COMMUNITY" %></li>
                    <li><%= link_to "SECTORS" %></li>
                    <li class="search">
                      <div class="space">
                        <%= form_with url: '/search', method: :get, local: true, class: "searchy" do |f| %>
                        <%= f.text_field :q, id: :q %>
                        <button style='width:40px;'>
                           <i class="icon-share-alt icon-white"></i>
                          </button>
                        <% end %>
                      </div>
                    <li>
            </ul>
        </div>
        <div class="homesignup">
          <%= form_with url:  new_user_session_path do |form| %>
            <%= form.text_field :username, placeholder: "Enter Username to Sign Up..." %>
          <% end %>
       </div>

       <%= render 'scroll' %>
    </div>

  </header>
S
 <div class="mid">
   <div class="activetrade">

     <div class="onlinenow">
        <div id="tradersnow">
          TRADERS ONLINE
          <div>
            <% User.order("totalprofit DESC").limit(5).each do |u| %>
              <%= u.id %>
               <% end %>
          </div>
        </div>

     </div>
   </div>

 </div>





<div class="messagetest">
  <p>just testing where this goes</p>
</div>
