<div class="containerss">
<div class="homenav">
<div class="offset">
  <div class="centerset">
    <div class="topset">
  <div class="logo">
      <%= link_to "SportFolio", root_path, id: "homelogo" %>
  </div>
  <div class="searchhold">
     <div class="inputsm">
       <div class="refSearch"><i class="fa fa-search"></i></div>
       <input type="text" id="inputTxt" placeholder="Search">
     </div>
  </div>
  <div class="signup">

          <% if user_signed_in? %>
          <%= link_to "Edit profile", edit_user_registration_path %> |
          <%= link_to "Logout", users_sign_out_path %>
          <% else %>
          <i class="fab fa-facebook-f"></i>
           <i class="fas fa-user"></i><%= link_to "Sign up", new_user_registration_path  %> |
           <%= link_to "Login", new_user_session_path  %>
          <% end %>
  </div>



  </div> <!-- topset -->
  <div class="bottomset">

    <ul class="setlist">
      <li><%= link_to "COMPANIES", companies_path%></li>
      <li>NEWS</li>
      <li><%= link_to "LEADERBOARD", leaderboard_path%></li>
      <% if user_signed_in? %>
      <li><%= link_to "PROFILE", user_path(current_user)%></li>
      <li><%= link_to "CREATE TRADE", users_trade_path%></li>

      <% else %>
      <li><%= link_to "HOME", root_path %></li>
      <li>GO PREMIUM</li>

      <% end %>
    </ul>
  </div>
  </div>  <!-- centerset -->


</div>


</div>   <!-- homenav -->


<div  class="offsetsm">
<div class="containsm">
  <div class="tsm">ENTER USERNAME</div>
  <div class="csm"><input type="text" id="containTxt" placeholder="Enter a name"></div>
</div>




</div>  <!-- offsetsm -->

</div>  <!-- containerss -->
<div class="boxsetwrap">
  <div class="boxsetinner">
  <div class="boxset"><div class="rboxset ysb">Most Trades</div>
  <div class="ymidset"><%= image_tag @trader.avatar.url(:thumb) %> <%= @trader.name %></div>
 </div>
  <div class="boxset"><div class="gboxset ysb">Highest Rank</div>
  <div class="ymidset"><%= image_tag @ranker.avatar.url(:thumb) %> <%= @ranker.name %></div>
  </div>
  <div class="boxset"><div class="yboxset  ysb">Newest Member</div>
  <div class="ymidset"><%= image_tag @newest.avatar.url(:thumb) %> <%= @newest.name %></div>
  </div>
</div>
</div>
<div> nav info section </div>




<div class="lcontainer">
<div class="covcontainer">
<div class="newscontainer">
<%  News.all.limit(5).order("created_at DESC").each do |n| %>

<div class="newsbox">
  <%= image_tag "#{n.imageurl}", class: "nimg" %>
  <div class="extracont">
    <div class="extratitle">
    <%= n.title.titlecase %>
    </div>
    <div class="extrapub">
    <%= "Published on " + n.publishedon.strftime('%a, %d %b %Y') %>
    </div>
    <div class="extrabutton">
     <%= link_to "Read More", "staticpages/news/#{n.id}" %>
    </div>

  </div>
</div> <!--newsbox-->
<br>
<% end %>
</div> <!--newscontainer-->


<div class="leadandonline">
<div class="minileaderboard">
  <table>

    <tr>
      <th>#</th>
      <th>Trader</th>
      <th>Units</th>
    </tr>
    <% User.order("wallet DESC").each_with_index do |u, index|  %>
    <tr>
      <td><%= index + 1%></td>
      <td><span class="i"><%= image_tag u.avatar.url(:thumb) %></span><%= u.name %></td>
      <td><%= u.totalprofit %></td></tr>
    <% end %>
  </table>
 </div>


 <div class="onlinenow">
    <div id="tradersnow">
      TRADERS ONLINE
  <div>
        <%= User.online_now.count %>
   </div>
 </div>
 </div> <!--onlinenow-->
</div> <!--lead and online-->
</div> <!--covcontainer-->

</div> <!--lcontainer-->


<div class="appst">
  TRY THE APP
  <div class="gm google"><i class="fab fa-google-play"></i>Google Play</div>
  <div class="gm ios"><i class="fab fa-app-store-ios"></i>iOS Store</div>
  <div class="gm discord"><i class="fab fa-discord"></i>Discord</div>
</div>


<div class="acontainer">

<div class="reffooter">
  <div class="reffoot1">
    <div class="reffoot1le">
      <ul class="footone">
        <li><h2>Languages</h2></li>
        <li><%= link_to "English"%></li>
        <li><%= link_to "French"%></li>
        <li><%= link_to "Spanish"%></li>
        <li><%= link_to "German"%></li>
        <li><%= link_to "Italian"%></li>
        <li><%= link_to "Portuguese"%></li>
      </ul>
    </div>
    <div class="reffoot1ri">
      <ul class="foottwo">
        <li><h2>Other Links</h2></li>
        <li><%= link_to "Companies"%></li>
        <li><%= link_to "News"%></li>
        <li><%= link_to "Leaderboard"%></li>
        <li><%= link_to "Why Sign Up"%></li>
        <li><%= link_to "Go Premium"%></li>
      </ul>
    </div>
  </div>
  <div class="reffoot2">
    <div class="reffoot2le">
      <ul class="footthree">
        <li><h2>Get To Know Us</h2></li>
        <li><%= link_to "About"%></li>
        <li><%= link_to "Facebook"%></li>
        <li><%= link_to "Twitter"%></li>
        <li><%= link_to "Instagram"%></li>
        <li><%= link_to "Contact Us"%></li>
      </ul>
    </div>
    <div class="reffoot2ri">
      <ul class="footfour">
        <li><h2>Helpful Resources</h2></li>
        <li><%= link_to "TBA"%></li>
        <li><%= link_to "TBA"%></li>
        <li><%= link_to "TBA"%></li>
        <li><%= link_to "TBA"%></li>
      </ul>
    </div>
  </div>
</div>

</div><!--acontainer-->
<script>
  const input = document.getElementById("containTxt");
  console.log("works");
  input.addEventListener("keyup", function(event) {
     if (this.value == '' || this.value == this.defaultValue) {
       return
   } else if (event.keyCode === 13) {
       event.preventDefault();
       url = "https://sheltered-journey-51023.herokuapp.com/usearch/" + input.value
       //url = "http://localhost:3000/usearch/" + input.value
       window.location = url;
      }
    });
</script>
