
  <header>
    <!-- will put in navbar partial  for app/layout> -->
      <div class="container">
        <div class="main">
          <div class="logo">
          <%= link_to "SportFolio", root_path, id: "homelogo" %>
          </div>
            <div class="signup">
              <% if user_signed_in? %>
                Loggin in as
              <% else %>
                <%= link_to "Sign up", new_user_path %>
                <%= link_to "Login" %>
              <% end %>
            </div>
            <ul class="nav-items">
                    <li><%= link_to "COMPANIES" %></li>
                    <li><%= link_to "NEWS" %></li>
                    <li><%= link_to "COMMUNITY" %></li>
                    <li><%= link_to "SECTORS" %></li>
                    <li class="search">
                      <div class="space">
                        <%= form_with url: '/search', method: :get, local: true, class: "searchy" do |f| %>
                        <%= f.text_field :q, id: :q %>
                        <button style='width:40px;'>
                           <i class="icon-share-alt icon-white"></i>
                          </button>
                        <% end %>
                      </div>
                    <li>
            </ul>
        </div>
     <div class="usersignup">
        <%= form_with model: @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign Up" %>
        <% end %>
      </div>
    </div>

  </header>





  <!-- sign up partial -->





  <!-- will put in scrollfeed partial  -->
  <div class="companies">
    <div class="wrapp">
    <div class="marquee">
      <div class="slide">
        <span class="spanner">


    <span>
    <% Company.order('changepercent DESC').limit(20).each do |c| %>
      <span class="spn">
      <span>
    <%= c.ticker %>
    <%= content_tag(:div, "% #{c.changepercent * 100}", class: "change-price") %>
  </span>
</span>
    <% end %>


</span>
        </div>
    </div>
  </div>

</div>
  </div>
