<div class="leaderboardlarge">
  <h2>Leaderboard</h2>
  <p>this is the <%= @numunrounded %></p>
  <%= will_paginate @users %>
<table>
  <tr>
    <th>#</th>
    <th>Trader</th>
    <th></th>
    <th>Points</th>
    <th># of Trades</th>
  </tr>
  <% @userspag.each do |u| %>
  <tr>
    <td></td>
    <td><span class="ilarge"><i class="fas fa-medal" style="color:#FFD700;"></i></span><%= link_to u.name, user_path(u) %></td>
    <td><%= image_tag u.avatar.url(:thumb) %><span class="leaderboardrank">Top 1%</span></td>
    <td><%= u.totalprofit %></td>
    <td><%= u.trades.count %></td></tr>

  <% end %>
  <% @offset.each do |u| %>
   <tr>
   <td></td>
   <td><%= link_to u.name, user_path(u) %></td>
   <td><%= image_tag u.avatar.url(:thumb) %><span class="leaderboardrank50">Top 50%</span></td>
   <td><%= u.totalprofit %></td>
   <td><%= u.trades.count %></td></tr>

   <% end %>



</table>
