<div class="homenav">
<div class="offset">
  <div class="centerset">
    <div class="topset">
  <div class="logo">
      <%= link_to "SportFolio", root_path, id: "homelogo" %>
  </div>
  <div class="searchhold">
     <div class="inputsm">
       <div class="refSearch"><i class="fa fa-search"></i></div>
       <input type="text" id="inputTxt" placeholder="Search">
     </div>
  </div>
  <div class="signup">
          <% if user_signed_in? %>
          <%= link_to "Edit profile", edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
          <% else %>
          <i class="fab fa-facebook-f"></i>
           <i class="fas fa-user"></i><%= link_to "Sign up", new_user_registration_path  %> |
           <%= link_to "Login", new_user_session_path  %>
          <% end %>
  </div>


  </div> <!-- topset -->
  <div class="bottomset">

    <ul class="setlist">
      <li><%= link_to "COMPANIES", companies_path%></li>
      <li>NEWS</li>
      <li><%= link_to "LEADERBOARD", leaderboard_path%></li>
      <% if user_signed_in? %>
      <li><%= link_to "PROFILE", user_path(current_user)%></li>
      <li>GO PREMIUM</li>

      <% else %>
      <li><%= link_to "HOME", root_path %></li>
      <li>GO PREMIUM</li>

      <% end %>
    </ul>
  </div>
  </div>  <!-- centerset -->


</div>


</div>

<div class="leaderboardlarge">
  <h2 class="leaderboardtitle">Leaderboard <span class="usertotalsp"><%= @total %></span></h2>
  <%= will_paginate @users %>
<table>
  <tr>
    <th>RANK</th>
    <th>TRADER</th>
    <th></th>
    <th>UNITS</th>
    <th>TRADES</th>
  </tr>

  <% @users.each_with_index do |u, index| %>
  <tr class="trlist">
    <td><%= @users.offset + index + 1 %></td>
    <td><span class="ilarge"><i class="fas fa-medal" style="color:#FFD700;"></i></span><%= link_to u.name, user_path(u) %></td>
    <td><%= image_tag u.avatar.url(:thumb) %><span class="leaderboardrank"><%= u.toprank %></span></td>
    <td><%= u.totalprofit %></td>
    <td><%= u.trades.count %></td></tr>

  <% end %>






</table>
</div>
<script>
  const userTotal = document.getElementsByClassName("usertotalsp")[0].innerText;
  function top1() {
    n = userTotal / 99
    num = Math.ceil(n)
    $.ajax({
         url: "http://localhost:3000/staticpages/rank",
         data: {topnum: num, topstr: "Top 1%"  },
         success: function(response){
           console.log("had success")
         }
       })
  }
  function top25() {
    num2 = userTotal / 4
    $.ajax({
         url: "http://localhost:3000/staticpages/rank",
         data: {topnum: num2, topstr: "Top 25%"  },
         success: function(response){
           console.log("had success")
           // top1()
           }
         })
  }
  function top50() {
    num3 = userTotal / 2
    $.ajax({
         url: "http://localhost:3000/staticpages/rank",
         data: {topnum: num3, topstr: "Top 50%"},
         success: function(response){
           console.log("had success")
           // top25();
           }
         })
  }

  top50();
  top25();
  top1();

</script>
