<div class="full">
  <div class="homenav">
  <div class="offset">
  <div class="centerset">
    <div class="topset">
    <div class="logo">
        <%= link_to "SportFolio", root_path, id: "homelogo" %>
    </div>
    <div class="searchhold">
       <div class="inputsm">
         <div class="refSearch"><i class="fa fa-search"></i></div>
         <input type="text" id="inputTxt" placeholder="Search">
       </div>
    </div>
    <div class="signup">
            <% if user_signed_in? %>
            <%= link_to "Edit profile", edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <% else %>
            <i class="fab fa-facebook-f"></i>
             <i class="fas fa-user"></i><%= link_to "Sign up", new_user_registration_path  %> |
             <%= link_to "Login", new_user_session_path  %>
            <% end %>
    </div>
    </div> <!-- topset -->
    <div class="bottomset">

      <ul class="setlist">
        <li>COMPANY</li>
        <li>NEWS</li>
        <li>LEADERBOARD</li>
        <% if user_signed_in? %>
        <li>COMPANY</li>
        <li>GO PREMIUM</li>

        <% else %>
        <li>WHY SIGN UP</li>
        <li>GO PREMIUM</li>

        <% end %>
      </ul>
    </div>
    </div>  <!-- centerset -->
  </div>
  </div>



  <div class="logtitle">
    <div class="logtitlehead">
      Sportfolio Login
    </div>
    <div class="logtitlep">
      Sign in with your email, Google, or Facebook account.
    </div>
  </div>

  <div class="logbox">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="ftfield">
   <div class="field">
     <%= f.email_field :email %>
   </div>
    <div class="field">
     <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>




  <div class="signbtns">
    <%= link_to "Register", new_user_registration_path %>
    <%= f.submit "Log in", :class => 'loginbtn' %>
  </div>


<% end %>

<br>
<br>
<br>

<%= render "devise/shared/links" %>
<%=  request.env['omniauth.auth'] %>

  </div>
</div>  <!-- full-->
