<h1>New Trade</h1>


<%= simple_form_for @user do |b| %>


  <%= b.simple_fields_for(:trades, @user.trades.build) do |p| %>
    <%= p.input :stock, collection: @comp %>
    <%= p.input :company_id %>
    <%= p.input :commodity_id, collection: @comm %>
    <%= p.input :region_id, collection: @reg %>
    <%= p.input :tradetype %>
    <%= p.input :volume %>
    <%= p.submit "Create"%>
    <%= p.submit "Review Trade", name: "preview_button" %>

  <% end %>
<% end %>
