<!DOCTYPE html>
<html>
  <head>
    <title>Sportfolio | Invest Your Way To The Top</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link href="https://fonts.googleapis.com/css?family=Rokkitt|Vollkorn" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
<header>
  <div class="contain">
    <div class="fade">
       <div class="userbox">
         <div class="userlast">
           <div class="ava"><%= image_tag @user.avatar.url(:thumb) %></div>
           <div class="usersname"><%= @user.email %></div>
           <div class="lastonline"><%= "Last Online: #{@user.last_seen}" %></div>
        </div>
        <ul class="usernavs">
                <li><%= link_to "Overview" %></li>
                <li><%= link_to "Longs" %></li>
                <li><%= link_to "Shorts" %></li>
                <li><%= link_to "Friends" %></li>
        </ul>
        <div class="lowerbox">
          <ul class="lowerselect">
          <li><div class="region">Region</div><div class="regselect"><%= select_tag 'user_id', options_for_select(@reg.collect{ |u| [u.name] }) %></div></li>
          <li><div class="region">Exchange</div><div class="regselect"><%= select_tag 'user_id', options_for_select(@exch.collect{ |u| [u.name] }) %></div></li>

          <li>



            <%= form_with url: user_trades_path(@user), method: :get, local: true do |form| %>

              <%= select_tag(:term, options_for_select([['2018', 1], ['2017', 2]])) %>

              <%= form.submit %>
            </li>


         </ul>
         <!-- <%= @regs.each {|i| i.id} %> -->
        </div>
      <div class="wrapmid">




        <div class="recenttrades">
           <div class="cardheader">Recent Trades <span class="track">live tracker</span></div>
           <% @user.trades.limit(3).each do |t| %>
           <ul class="result">
             <li><span class="lss"><%= t.tradetype %></span><br><span class="title"><%= t.created_at%></span></li>
             <li>Stock <br><%= t.stock %></li>
             <li>Volume <br><%= t.volume %></li>
             <li>Price <br><%= t.stockprice %></li>
           </ul>
           <% end %>


            <% end %>
       </div>







        <ul class="longsover">
           <li class="onee"><div class="longover">Longs</div><div class="longsval">#</div></li>
           <li><div class="rateover">Rating</div><div class="ratingval">#</div></li>
           <li><div class="profitover">Profit</div><div class="profitval">#</div></li>
           <li><div class="percentover">Percent Long</div><div class="percentval">#</div></li>
           <li><div class="numover">Stocks Long</div><div class="numval">#</div></li>
        </ul>
        <ul class="longsover">
            <li class="onee"><div class="longover">Short</div><div class="longsval">#</div></li>
            <li><div class="rateover">Rating</div><div class="ratingval">#</div></li>
            <li><div class="profitover">Profit</div><div class="profitval">#</div></li>
            <li><div class="percentover">Percent Short</div><div class="percentval">#</div></li>
            <li><div class="numover">Stocks Shorts</div><div class="numval">#</div></li>
        </ul>
        <ul class="longsover">
              <li class="onee"><div class="longover">Other Comm.</div><div class="longsval">#</div></li>
              <li><div class="rateover">Rating</div><div class="ratingval">#</div></li>
              <li><div class="profitover">Profit</div><div class="profitval">#</div></li>
              <li><div class="percentover">Percent in Commodities</div><div class="percentval">#</div></li>
              <li><div class="numover">Commodities</div><div class="numval">#</div></li>
        </ul>





                        <div class="careerstats">Career Stats
                          <ul class="careertrades">
                            <li>Trades Made <br> <%= @user.trades.count %></li>
                            <li>Currently Up</li>
                            <li>Currently Down</li>
                          </ul>
                          <ul class="careertrades">
                            <li>Companies Held <%= @user.trades.select(:stock).map(&:stock).uniq.count %></li>
                            <li>Largest Trade</li>
                            <li>Profit</li>
                          </ul>
                        </div>


                        <div class="orangetrending">

                      </div>






          </div>
      </div>


     </div>
   </div>


    <div class="main">
      <div class="logo">
      <%= link_to "SportFolio", root_path, id: "homelogo" %>
      </div>
        <div class="signup">
          <% if user_signed_in? %>
            Loggin in as
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </div>
        <ul class="nav-items">
                <li><%= link_to "COMPANIES" %></li>
                <li><%= link_to "NEWS" %></li>
                <li><%= link_to "COMMUNITY" %></li>
                <li><%= link_to "SECTORS" %></li>
                <li class="search">
                  <div class="space">
                    <%= form_with url: '/search', method: :get, local: true, class: "searchy" do |f| %>
                    <%= f.text_field :q, id: :q %>
                    <button style='width:40px;'>
                       <i class="icon-share-alt icon-white"></i>
                      </button>
                    <% end %>
                  </div>
                <li>
        </ul>
    </div>
</div>
</header>
  <body>
    <%= yield %>
  </body>
</html>
